root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[**.py]
indent_style = space
indent_size = 4
emacs_py_project = (f-join (projectile-project-root) ".")
# emacs_py_save_touch = (f-join (projectile-project-root) "infra" "uwsgi.ini")

[frontend/**.{js,jsx}]
indent_style = space
indent_size = 2
# emacs_py_save_touch = (f-join (projectile-project-root) "frontend" "package.json")


[Makefile]
indent_style = tab
